form {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

h1 {
  color: rgb(255, 183, 0);
  text-align: center;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"], input[type="password"], input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgb(255, 183, 0);
  color: #373636;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(209, 153, 10);
  color: white;
}

a {
  color: rgb(255, 183, 0);
  text-decoration: none;
}